.additional {
  position: relative;

  min-height: 967px;
  width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 1085px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    min-height: 565px;
  }
}
.additional__title-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 710px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
  }
}
.additional h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 33px;
  padding-left: 19px;
  padding-right: 22px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-left: 37px;
    padding-right: 37px;

    font-size: 36px;
    line-height: 36px;
    margin-top: 68px;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 76px;
    margin-left: 0;
  }
}
.additional::before {
  position: absolute;
  content: "";
  top: 41px;
  z-index: -10;

  width: 100%;
  height: 3px;
  background-color: @bg-green;

  @media (min-width: @tablet-width) {
    top: 90px;
  }

  @media (min-width: @desktop-width) {
    top: 97px;
  }
}
.additional__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 710px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
    min-height: 288px;
    margin: 0;
    margin-right: 80px;

  }
}
.additional__gift {
  margin: 0;
  padding: 0;
  width: 280px;
  min-height: 289px;
  background-color: @bg-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 280px auto;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  outline: 1px solid red;
  display: flex;
  opacity: 0.5;

  @media (max-width: @mobile-width-only) and (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    margin-top: 70px;
    background-size: 708px auto;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    min-height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin: 0;
    background-size: 245px auto;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");

    }
  }
}

.additional__gift-svg {
  position: absolute;
  top: 66px;
  left: 113px;
  width: 56px;
  height: 60px;
  fill: #ffffff;

  @media (min-width: @tablet-width) {
    top: 65px;
    left: 90px;
  }
  @media (min-width: @desktop-width) {
    left: 95px;
  }
}


.additional__gift p {
  outline: 1px solid red;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial";
  color: #ffffff;
  width: 165px;
  text-align: center;
  margin: 0 auto;
  margin-top: 188px;

  @media (min-width: @tablet-width) {
    text-align: left;
    margin-top: 72px;
    margin-left: 422px;

    outline: 1px solid red;
  }
  @media (min-width: @desktop-width) {
    text-align: center;
    margin: 0 auto;
    margin-top: 188px;
  }
}

