.additionally {
  min-height: 377px;
  border: none;
  outline: 2px solid orange;
  position: relative;

  padding: 0;

  @media (min-width: @tablet-width) {
    min-height: 440px;
  }
  @media (min-width: @desktop-width) {
    min-height: 375px;
    padding: 0;
  }
}

.additionally__wrapper {
  outline: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-item: flex-start;
}
.additionally__title-container {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid red;
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
  }
}
.additionally__title {
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;

  outline: 1px solid red;
  max-width: 184px;

  margin-left: 0px;
  font-weight: normal;
  padding-right: 0px;
  padding-left: 18px;
  box-sizing: border-box;
  background-color: transparent;


  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    max-width: 291px;
    padding-right: 41px;
    padding-left: 41px;
    margin-top: 61px;
    margin-left: 29px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 49px;
    padding-left: 39px;
    margin-left: 0;
  }
}
.additionally::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: @bg-green;
  z-index: -5;

  @media (min-width: @tablet-width) {
    top: 83px;
  }
  @media (min-width: @desktop-width) {
    top: 70px;
  }
}

.additionally__container {
  width: 280px;
  min-height: 300px;
  outline: 1px solid black;
  margin: 0 auto;
  margin-top: 34px;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 700px;
    min-height: 220px;
    margin-top: 56px;
    margin-bottom: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    min-height: 155px;
    margin-top: 55px;
    margin-bottom: 0px;
  }
}

.additionally label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 46px;
  position: relative;
  outline: 1px solid black;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    outline: 1px solid red;
    margin-top: 10px;
    margin-left: 93px;
    min-width: 254px;
    margin-bottom: 42px;
    align-self: flex-start;
  }
  @media (min-width: @desktop-width) {
    margin-top: 10px;
    margin-right: 37px;
    margin-left: 55px;

    min-width: 234px;
  }
}

.additionally .additionally__vitamins {
  @media (min-width: @desktop-width) {
    margin-right: 0;
    min-width: 0px;
    outline: 1px solid blue;
  }
}


.additionally label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -45px;
  width: 28px;
  height: 29px;
  border: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    width: 39px;
    height: 39px;
    top: -10px;
    left: -59px;
  }
}

.additionally label:hover::before {
  border-color: #bababa;
}

.additionally label:active,
.additionally label:focus {
  opacity: 0.5;
}

.additionally input:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -40px;
  width: 18px;
  height: 10px;
  background-color: transparent;
  border-bottom: 2px solid @bg-green;
  border-left: 2px solid @bg-green;
  transform: rotate(-45deg);

  @media (min-width: @tablet-width) {
    top: 1px;
    left: -47px;
  }
}
.additionally__button {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;


  @media (min-width: @tablet-width) {
    margin-left: 36px;
    width: 283px;
    height: 52px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 22px;
    margin-right: 61px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 2px;
    width: 568px;
    margin-top: 29px;
    margin-right: 81px;
  }
}
.additionally small {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  line-height: 16px;
  font-family: "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 34px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 39px;
  }
}

