.cat {
  margin: 0;
  padding: 0;
  border: none;
  outline: 1px solid blue;
  width: 320px;
  min-height: 190px;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    width: 710px;
    margin-top: 65px;
    height: 195px;
  }
  @media (min-width: @desktop-width) {
    width: 570px;
    margin-left: 0;
  }
}

.cat__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  outline: 1px solid red;
  margin-top: 39px;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.cat__wrapper input {
  margin: 0;
  padding: 0;
  height: 45px;

  outline: 1px solid red;
  margin-left: 16px;
  min-width: 172px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Oswald";
  padding-left: 12px;
  box-sizing: border-box;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    min-width: 500px;
    height: 52px;
    margin-left: 21px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: @desktop-width) {
    min-width: 432px;
  }
}
.cat__wrapper label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-left: 19px;
  outline: 1px solid red;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 10px;
    margin-bottom: 37px;
    margin-left: 0px;
  }
}



