.cat {
  margin: 0;
  padding: 0;
  border: none;

  width: 320px;
  min-height: 190px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  outline: 1px solid red;
  margin-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 710px;
    margin-top: 65px;
    height: 195px;
    margin-top: 0;
  }
  @media (min-width: @desktop-width) {
    width: 570px;
    margin-left: 0;
  }
}

.cat input {
  margin: 0;
  padding: 0;
  height: 45px;

  margin-left: 16px;
  min-width: 170px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Oswald";
  padding-left: 12px;
  box-sizing: border-box;
  flex-grow: 1;

  outline: none;

  @media (min-width: @tablet-width) {
    min-width: 500px;
    height: 52px;
    margin-left: 21px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: @desktop-width) {
    min-width: 432px;
  }
}
.cat input:active {
  border: 2px solid #444444;
}
.cat label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 10px;
  align-self: flex-start;

  outline: 1px solid red;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-left: 40px;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 35px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 10px;
    margin-bottom: 37px;
    margin-left: 0px;
  }
}



