.description {
  position: relative;

  width: 320px;
  min-height: 500px;
  margin: 0 auto;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (max-width: @mobile-width-only) and (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: contain;
  }

  @media (min-width: @tablet-width) {
    width: 710px;
    min-height: 840px;

    background-image: none;
  }

  @media (min-width: @desktop-width) {
    position: relative;

    width: 1300px;
    min-height: 650px;
  }
}

.description__feedstuff {
  width: 280px;
  height: 271px;
  margin-left: 20px;

  @media (max-width: @mobile-width-only) and (min-resolution: @retina-dppx) {
    background-size: 280px auto;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 232px;
    left: 0;
    z-index: -1;

    width: 709px;
    height: 609px;
    margin: 0;

    @media (min-resolution: @retina-dppx) {
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    top: 18px;
    left: 490px;
    z-index: 0;

    width: 552px;
    height: 499px;

    @media (min-resolution: @retina-dppx) {
      background-size: 552px auto;
    }
  }
}

/*
@media (min-width: @desktop-width) {
  .description::after {
    position: absolute;
    content: "";
    top: -125px;
    left: 649px;
    width: 720px;
    height: 696px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: @bg-green;
    background-size: cover;
    z-index: -10;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: auto 696px;
    }
  }
} */

.description__title {
  margin: 0;
  padding: 0;
  margin-top: 28px;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 450px;
    margin-top: 30px;
    margin-left: 88px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    z-index: 10;

    margin-top: 98px;
    margin-left: 121px;
  }
}

.description__paragraph {
  margin-top: 24px;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: @tablet-width) {
    margin-top: 41px;
    margin-left: 89px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #000000;
  }

  @media (min-width: @desktop-width) {
    z-index: 10;

    margin-top: 39px;
    margin-left: 119px;
  }
}

.description__link {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 0;
  padding-top: 9px;
  padding-bottom: 11px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    max-width: 245px;
    margin-top: 48px;
    margin-left: 90px;
    padding: 16px 29px 16px 25px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    max-width: 245px;
    margin-top: 52px;
    margin-left: 120px;
  }
}
