.description {
  min-height: 500px;
  position: relative;
  outline: 1px solid black;
}

@media (min-width: @tablet-width) {
  .description {
    min-height: 840px;
    }
}
@media (min-width: @desktop-width) {
  .description {
    min-height: 650px;
  }
}
.description {
  content: "";

  width: 320px;
  height: 305px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.description::before {
  content: "";
  position: absolute;
  top: 170px;
  left: 20px;

  width: 280px;
  height: 271px;

  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 10;
}
.description__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.description__paragraph {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.description__link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  outline: 1px red solid;
  display: inline-block;
  vertical-align: top;
  margin-top: 300px;
  text-align: center;
  padding: 11px 73px;
}

