.example {
  background-color: #f2f2f2;
  background-color: transparent;
  outline: 1px solid red;
  min-height: 705px;
  padding-top: 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    min-height: 1080px;
  }

  @media (min-width: @desktop-width) {
    min-height: 665px;
  }
}

.example__container-title {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid black;

  @media (min-width: @tablet-width) {
    width: 768px;
  }
}
.example__title {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: normal;
  margin-top: 16px;
  margin-left: 20px;
  color: green;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    margin: 0;
    margin-top: 42px;
    padding-left: 30px;
    box-sizing: border-box;
  }
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.example__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-top: 17px;
  outline: 1px solid blue;

  @media (min-width: @tablet-width) {
    margin-top: 43px;
    width: 100%;
  }
  @media (min-width: @desktop-width) {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.example__desktop-grid1 {
  margin: 0 20px;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
  @media (min-width: @desktop-width) {
    width: 450px;

    outline: 1px solid blue;
    margin-top: 75px;
  }
}

.example__desktop-grid2 {
  @media (min-width: @desktop-width) {
    width: 450px;
    outline: 1px solid blue;
  }
}

.example__history {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial";
  margin-top: 25px;
  margin-right: 12px;
  outline: 1px solid blue;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 62px;
    width: 88%;
    margin-left: 4%;

  }
  @media (min-width: @desktop-width) {
    width: 400px;
    margin-top: 69px;
  }
}

.example__preface {
  outline: 3px solid red;
  @media (min-width: @tablet-width) {

    display: flex;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__indicators {
  position: relative;
  outline: 1px solid green;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-top: 27px;
    width: 367px;
    margin-left: 4%;
  }
  @media (min-width: @desktop-width) {
    margin-top: 40px;
  }
}
.example__indicators p {
  margin: 0;
  padding: 0;
  margin-top: 26px;
}
.example__indicators b {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: normal;
  display: block;
  text-align: center;
  padding-top: 14px;
  color: green;
  box-sizing: border-box;
  width: 124px;
  height: 54px;
  border: 1px solid #cfcfcf;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    height: 72px;
    font-size: 30px;
    line-height: 37px;
  }
}
.example__indicators small {
  font-size: 12px;
  line-height: 12px;
  font-family: "Arial";
  text-transform: lowercase;
  display: block;
  width: 87px;
  min-height: 30px;
  margin-top: -8px;
  margin-left: 18px;
  padding-left: 5px;
  box-sizing: border-box;
  text-align: center;
  z-index: 5;
  background-color: #ffffff;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 124px;
    margin: -8px auto 0 auto;
    padding-left: 0;
  }
}
.example__second-small small {
  @media (min-width: @tablet-width) {
    width: 142px;
  }

}
.example__cost {
  font-size: 14px;
  line-height: 20px;
  margin-top: 13px;
  font-weight: bold;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  outline: 4px solid green;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    font-weight: bold;
    width: 190px;
    margin-top: 60px;
    margin-right: 4%;
  }
  @media (min-width: @desktop-width) {
    width: 100%;
    text-align: left;
    margin-top: 37px;
  }
}
.example__cost br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.example__desktop-grid2 {
  outline: 1px solid green;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 462px;
    margin-top: 235px;
    background-color: #f2f2f2;
    background-color: transparent;
  }
}
.example__images picture {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }
}
.example__toggles {
  display: flex;

  margin-top: 25px;
  margin-bottom: 30px;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    width: 600px;
    margin: 0 auto;
    margin-top: 18px;
  }
}




