.form-programs {
  border: none;
  label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  }
}
.form-programs__wrapper {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  min-height: 157px
}
