.form-programs {
  border: none;
  width: 320px;
  outline: 1px solid red;
  margin: 0 auto;
  height: 157px;
  box-sizing: border-box;
  label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  }
}
@media (min-width: @tablet-width) {
  .form-programs {
  margin-top: 73px;
  width: 630px;
  height: 194px;
  }
}
@media (min-width: @desktop-width) {
  .form-programs {
  width: 570px;
  margin-top: 65px;
  margin-right: 0;
  }
}
.form-programs__wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  min-height: 157px
}
