.main-nav {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  outline: 1px solid orange;

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 0;
    z-index: 10;
  }
}

.main-nav__toggle {
  position: absolute;

  background-color: transparent;
  border: none;
  display: block;
  top: -42px;
  right: 20px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.main-nav--closed .main-nav__toggle {
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.main-nav--opened .main-nav__toggle {
  width: 18px;
  height: 18px;
  right: 23px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 1px solid red;

  min-height: 198px;
  width: 320px;
  & a {
  color: #000000;
  }

  @media (min-width: @tablet-width) {
    width: 439px;
    display: flex;
    justify-content: space-between;
    min-height: 110px;
    margin: 0;
    margin-right: 2px;
  }
  @media (min-width: @desktop-width) {
    width: 477px;
  }
}
.main-nav__item {
  text-align: center;
  padding-top: 22px;
  padding-bottom: 22px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    display: block;
    margin-top: 18px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 49px;
  }
}
@media (min-width: @tablet-width) {
   .main-nav__link--active {
    border-bottom: 2px solid @bg-green;
    padding-bottom: 7px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__item .main-nav__link {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }
  .main-nav__link--active {
    border-bottom: 2px solid @bg-green;
    padding-bottom: 7px;
  }
  .main-nav__item .main-nav__link--index {
    color: #ffffff;
  }
  .main-nav__item .main-nav__link--main-act {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 7px;
    color: #ffffff;
  }
}

.main-nav__link:hover {
  opacity: 0.7;
  border: none;
}
.main-nav__link:active,
.main-nav__link:focus {
  opacity: 0.4;
  border: none;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav--nojs  .main-nav__list {
  display: block;
}
.main-nav--nojs  .main-nav__toggle {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
  display: none;
  }
}


