.owner {
  min-height: 240px;
  border: none;
  outline: 1px solid red;
  legend {
  font-size: 24px;
  line-height: 24px;
  }
  label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  }
  input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  height: 45px;
  }
}
