.page-footer {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding: 28px 0;

  opacity: 1;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 65px 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    position: relative;

    width: 1300px;
    min-height: 550px;
    padding: 0;
  }
}

.page-footer__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    width: 626px;
    min-height: 78px;
    margin: 0 auto;
    margin-bottom: 40px;

    align-self: flex-start;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 96px;
    left: 40px;
    z-index: 10;

    width: 570px;
    min-height: 200px;

    background-color: #ffffff;
  }
}

.page-footer__invitation {
  width: 127px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 157px;

    font-size: 20px;
    line-height: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 230px;
    padding-top: 65px;
    padding-left: 75px;
    box-sizing: border-box;
  }
}

.page-footer__address {
  width: 140px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    width: 156px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding-top: 65px;
    padding-right: 90px;
    box-sizing: border-box;

    text-align: left;
  }
}

.page-footer__address p {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 17px;
  }
}

.page-footer__map-block {
  position: relative;

  width: 100%;
  height: 361px;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer iframe {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 40;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.page-footer__map {
  position: relative;

  display: block;
  width: 318px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 767px;
    height: 400px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    height: 400px;
  }
}
.page-footer__map-image {
  display: block;
  width: 318px;
  height: 361px;

  @media (min-width: @tablet-width) {
    width: 767px;
    height: 400px;

  }
  @media (min-width: @desktop-width) {
    width: 1300px;
    height: 400px;
  }
}

.page-footer__map::before {
  @media (max-width: @mobile-width-only) {
    transform: scale(0.5);
  }

  content: "";
  position: absolute;
  top: 110px;
  left: 100px;

  width: 124px;
  height: 106px;

  background-image: url("../img/map-pin.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    top: 150px;
    left: 317px;
  }

  @media (min-width: @desktop-width) {
    top: 150px;
    left: 925px;
  }
}

.page-footer__low {
  background-color: #f2f2f2;
}

.page-footer__low-container {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    min-height: 150px;
    width: 768px;
    margin: 0 auto;
    padding: 58px 0;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    width: 1300px;
  }
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin-bottom: 31px;
  align-self: center;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 31px;
    margin-right: 150px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 41px;
    margin-right: 405px;
  }
}

.page-footer__logo-image {
  display: block;
  margin: 0 auto;
}

.page-footer__logo-image:hover {
  opacity: 0.7;
}

.page-footer__logo-image:active,
.page-footer__logo-image:focus {
  opacity: 0.4;
}

.page-footer__copyright {
  position: relative;
  min-height: 77px;
  margin: 0 auto;
  width: 280px;

  @media (min-width: @tablet-width) {
    min-height: 0;
    width: 114px;
    margin-top: 3px;
    margin-right: 78px;
    margin-left: 126px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 6px;
    margin-right: 90px;
    margin-left: 380px;
  }
}

.page-footer__copyright-icon {
  position: absolute;
  top: 9px;
  right: -18px;

  width: 60px;
  height: 60px;

  transform: scale(0.7);

  @media (min-width: @tablet-width) {
    top: -20px;
    right: -67px;
  }
}

.page-footer__copyright-link {
  display: block;
  padding-top: 27px;

  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;

  @media (min-width: @tablet-width) {
    margin-top: 4px;
    padding: 0;
  }
}

.page-footer__copyright-link:hover .page-footer__copyright-icon {
  fill: @bg-green;
}

.page-footer__copyright-link:active,
.page-footer__copyright-link:focus {
  opacity: 0.5;
}
