.page-footer {
  outline: 1px solid red;
  width: 320px;
  margin: 0 auto;
  opacity: 1;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: @tablet-width) {
  .page-footer {
  width: 768px;
  padding: 65px 0;
  }
}
@media (min-width: @desktop-width) {
  .page-footer {
  width: 1220px;
  min-height: 550px;
  position: relative;
  padding: 0;
  }
}
.page-footer__data {
  outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    min-height: 78px;
    margin: 0 71px;
    margin-bottom: 56px;
  }
}
@media (min-width: @desktop-width) {
  .page-footer__data {

  position: absolute;
  top: 93px;
  left: -70px;
  width: 570px;
  height: 200px;
  opacity: 1;

  }
}
.page-footer__invitation {
  margin: 0;
  padding: 0;
  width: 127px;
  font-weight: normal;
  outline: 1px solid red;
  color: green;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 157px;
  }
  @media (min-width: @desktop-width) {
    width: 285px;
  }
}
.page-footer__address {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial";
  width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 137px;
  }
  @media (min-width: @desktop-width) {
    width: 250px;
  }
}

.page-footer__map {
  display: block;
  margin-bottom: 36px;
  outline: 1px solid black;

  @media (min-width: @tablet-width) {
    width: 767px;
    height: 400px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    height: 400px;
  }
}
.page-footer__map-image {
  @media (min-width: @tablet-width) {
    width: 767px;
    height: 400px;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    height: 400px;
  }
}
.page-footer__low {
  display: flex;
  flex-direction: column;
  outline: 2px solid green;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 58px 0;
    height: 150px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 31px;
  outline: 1px solid blue;
  width: 128px;
  height: 24px;
  align-self: center;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-left: 31px;
    margin-right: 150px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
.page-footer__logo-image {
  display: block;
  margin: 0 auto;
  outline: 1px solid red;
}
.page-footer__copyright {
  position: relative;
  min-height: 77px;
  margin: 0 20px;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    min-height: 0;
    margin-left: 140px;
  }
  @media (min-width: @desktop-width) {
    margin-right: 61px;
  }
}
.page-footer__copyright::before {
  content: "";
  position: absolute;
  top: 9px;
  right: -18px;
  width: 60px;
  height: 60px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: scale(0.7);
  outline: 1px solid green;

  @media (min-width: @tablet-width) {
    top: -15px;
    right: -77px;
  }
}
.page-footer__copyright-link {
  background-color: transparent;
  color: #444444;
  display: block;
  padding-top: 27px;
  color: green;

  font-size: 16px;
  line-height: 16px;
  font-family: "Arial";
  ouline: 1px solid green;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
  }
}
