.page-footer {
  outline: 1px solid red;
  width: 320px;
  margin: 0 auto;
  opacity: 0.5;
  padding: 28px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: @tablet-width) {
  .page-footer {
  width: 768px;
  min-height: 747px;
  padding: 65px 0;
  }
}
@media (min-width: @desktop-width) {
  .page-footer {
  width: 1220px;
  min-height: 550px;
  position: relative;
  padding: 0;
  }
}
.page-footer__data {
  outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    min-height: 78px;
    margin: 0 71px;
    margin-bottom: 58px;
  }
}
@media (min-width: @desktop-width) {
  .page-footer__data {

  position: absolute;
  top: 95px;
  left: -20px;
  width: 570px;
  height: 200px;
  opacity: 1;
  background-color: black;
  }
}
.page-footer__invitation {
  margin: 0;
  padding: 0;
  width: 137px;
  font-weight: normal;
  outline: 1px solid red;
  color: green;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    width: 157px;
  }
}
.page-footer__address {
  margin: 0;
  padding: 0;
  outline: 1px solid red;
  font-size: 14px;
  line-height: 20px;
  width: 157px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 137px;
  }
}

.page-footer__map {
  display: block;
  margin-bottom: 40px;
  outline: 1px solid black;
  content: "";
  opacity: 0.4;
  width: 318px;
  height: 361px;
  background-image: url("../img/time.png");
  background-position: 0 0;
  background-repeat: no-repeat;
 }
 @media (min-width: @tablet-width) {
  .page-footer__map {
  width: 767px;
  height: 400px;
  background-image: url("../img/bg-map-tablet@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-bottom: 0;
  }
 }
@media (min-width: @desktop-width) {
 .page-footer__map {
  width: 1220px;
  height: 400px;
  background-image: url("../img/bg-map-desktop@1x.png");
  }
}


.page-footer__low {
  display: flex;
  flex-direction: column;
  outline: 2px solid green;
}
@media (min-width: @tablet-width) {
  .page-footer__low {
  flex-direction: row;
  padding: 58px 0;
  height: 150px;
  box-sizing: border-box;
  }
}
@media (min-width: @desktop-width) {
  .page-footer__low {
  justify-content: space-between;
  }
}
.page-footer__logo {
  display: block;
  margin-bottom: 31px;
  outline: 1px solid red;
}
.page-footer__logo-image {
  display: block;
  margin: 0 auto;
}
.page-footer__copyright {
  position: relative;
  min-height: 77px;
  margin: 0 20px;
  outline: 1px solid red;
}
.page-footer__copyright::before {
  content: "";
  position: absolute;
  top: 9px;
  right: -18px;
  width: 60px;
  height: 60px;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: scale(0.7);
  outline: 1px solid green;
}
.page-footer__copyright-link {
  background-color: transparent;
  color: #444444;
  display: block;
  padding-top: 24px;
  color: green;
  margin-left: 40px;
  font-weight: normal;
  transform: scaleX(1.35);
  ouline: 1px solid green;
}
