.programs {
  display: flex;
  flex-direction: column;
  min-height: 552px;
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    min-height: 773px;
  }

  @media (min-width: @desktop-width) {
    min-height: 370px;
  }
}

.programs__list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
  }
}

.programs__item {
  position: relative;

  margin: 0;
  padding: 0;

  width: 280px;
  min-height: 265px;
  padding: 20px;
  box-sizing: border-box;

  background-color: #f2f2f2;

  @media (min-width: @tablet-width) {
    width: 708px;
    min-height: 370px;
    padding: 75px 52px 62px 52px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    min-height: 370px;
  }
}

.programs__item:first-child {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
    margin-bottom: 0;
  }
}

.programs__item::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-color: @bg-green;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    top: 89px;
    left: 446px;

    width: 200px;
    height: 200px;
  }

  @media (min-width: @desktop-width) {
    top: 47px;
    left: 52px;

    width: 100px;
    height: 100px;
  }
}

.programs__icon-slim {
  position: absolute;
  top: -2px;
  left: 12px;

  width: 70px;
  height: 97px;

  transform: scale(0.5);

  @media (min-width: @tablet-width) {
    top: 126px;
    left: 512px;

    transform: scale(2);
  }

  @media (min-width: @desktop-width) {
    top: 39px;
    left: 65px;

    transform: scale(1);
  }
}

.programs__icon-pro {
  position: absolute;
  top: 22px;
  left: -20px;

  width: 134px;
  height: 56px;

  transform: scale(0.5);

  @media (min-width: @tablet-width) {
    top: 162px;
    left: 479px;

    transform: scale(2);
  }

  @media (min-width: @desktop-width) {
    top: 68px;
    left: 35px;

    transform: scale(1);
  }
}

.programs__title {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 71px;

  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    max-width: 340px;
    margin-top: 0px;
    margin-left: 0px;

    font-size: 36px;
    line-height: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 163px;
  }
}

.programs__description {
  position: relative;

  width: 225px;
  margin-top: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;

  @media (min-width: @tablet-width) {
    width: 372px;
    margin-top: 23px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 465px;
    margin-top: 71px;

    font-size: 16px;
    line-height: 24px;
  }
}

.programs__item:nth-child(2) .programs__description  {
  @media (min-width: @tablet-width) {
    width: 342px;
  }
  @media (min-width: @desktop-width) {
    width: 446px;
  }
}

.programs__description::before {
  content: "";
  position: absolute;
  top: 112px;
  left: 0;

  width: 240px;
  height: 1px;

  background-color: #d9d9d9;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.programs__link {
  position: relative;

  display: inline-block;
  vertical-align: top;
  margin-top: 30px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    margin-top: 40px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 16px;
  }
}

.programs__link-right {
  position: absolute;
  top: 3px;
  right: -36px;

  width: 25px;
  height: 11px;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 132px;
  }
}

.programs__link:hover .programs__link-right {
  display: none;
}

.programs__link-long-right {
  position: absolute;
  top: 3px;
  right: -46px;

  display: none;
  width: 32px;
  height: 11px;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 132px;
  }
}
.programs__link:hover .programs__link-long-right {
  display: block;
}

.programs__link:active,
.programs__link:focus {
  opacity: 0.5;
}
