.programs {
  padding-top: 3px;
  min-height: 552px;
  outline: 1px solid green;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-height: 773px;
  }
  @media (min-width: @desktop-width) {
    min-height: 370px;
  }
}
.programs__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @desktop-width) {
    width: 1220px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.programs__item {
  margin: 0;
  padding: 0;
  width: 280px;
  height: 265px;
  background-color: @bg-gray;
  padding: 20px;
  box-sizing: border-box;
  outline: 1px solid red;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 708px;
    height: 370px;
    padding: 75px 52px 62px 52px;
  }
  @media (min-width: @desktop-width) {
    width: 570px;
    height: 370px;
  }
}
.programs__item:first-child {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
  }
  @media (min-width: @desktop-width) {
    margin-right: auto;
    margin-bottom: 0px;
  }
}
.programs__item::before {
  position: absolute;
  top: 24px;
  left: 22px;
  content: "";
  width: 50px;
  height: 50px;
  background-color: @bg-green;
  border-radius: 50%;
  outline: 1px solid red;

  @media (min-width: @tablet-width) {
    width: 200px;
    height: 200px;
    top: 89px;
    left: 446px;
  }
  @media (min-width: @desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}
.programs__icon-slim {
  position: absolute;
  top: -2px;
  left: 12px;
  width: 70px;
  height: 97px;
  transform: scale(0.5);

  @media (min-width: @tablet-width) {
    transform: scale(2);
    top: 126px;
    left: 512px;
  }
  @media (min-width: @desktop-width) {
    transform: scale(1);
    top: 39px;
    left: 65px;
  }
}
.programs__icon-pro {
  position: absolute;
  top: 22px;
  left: -20px;
  width: 134px;
  height: 56px;
  transform: scale(0.5);
  fill: tomato;

  @media (min-width: @tablet-width) {
    transform: scale(2);
    top: 162px;
    left: 479px;
  }
  @media (min-width: @desktop-width) {
    transform: scale(1);
    top: 68px;
    left: 35px;
  }
}
.programs__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 10px;
  margin-left: 71px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 37px;
    margin-top: 0px;
    margin-left: 0px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 163px;
  }
}
.programs__description {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Arial";
  width: 225px;
  margin-top: 30px;
  outline: 1px solid red;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 372px;
    margin-top: 23px;
  }
  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 24px;
    width: 465px;
    margin-top: 71px;
  }
}
.programs__item:nth-child(2) .programs__description  {
  @media (min-width: @tablet-width) {
    width: 342px;
  }
  @media (min-width: @desktop-width) {
    width: 446px;
  }
}
.programs__description::before {
  content: "";
  width: 240px;
  height: 1px;
  position: absolute;
  top: 112px;
  left: 0;
  background-color: #d9d9d9;
}
.programs__link {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  outline: 1px solid red;
  display: block;
  margin-top: 43px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 58px;
    font-size: 20px;
    line-height: 20px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 33px;
  }
}
.programs__link-right {
  width: 25px;
  height: 11px;
  position: absolute;
  top: 4px;
  left: 96px;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 132px;
  }
}
.programs__link:hover .programs__link-right {
  display: none;
}
.programs__link-long-right {
  display: none;
  width: 32px;
  height: 11px;
  position: absolute;
  top: 4px;
  left: 96px;

  @media (min-width: @tablet-width) {
    top: 6px;
    left: 132px;
  }
}
.programs__link:hover .programs__link-long-right {
  display: block;
}

.programs__link:active,
.programs__link:focus {
  opacity: 0.5;
}
