.slider__slide1 {
  outline: 1px solid red;
  margin: 0 auto;
  margin-top: 35px;
  width: 320px;
  height: 240px;


  @media (min-width: @tablet-width) {
    align-self: center;
    margin-top: -168px;
    width: 690px;
    height: 517px;
  }
}
.slider__toggle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: bold;
  border: none;
  background-color: transparent;
}
.slider__toggle--btn1 {
  letter-spacing: -0.4px;
  color: green;
  margin-left: 37px;
  margin-right: 107px;
  position: relative;
}
.slider__toggle--btn1::after {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  left: 61px;
  width: 84px;
  height: 13px;
  border: 1px solid #cdcdcd;
  border: 1px solid red;
  background-color: #ffffff;
  border-radius: 8px;
}
