.social {

}
.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
  width: 280px;
  height: 64px;
}
.social__link--vkontakte::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 73px;

  width: 22px;
  height: 12px;

  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.social__link--instagram::before {
  content: "";

  position: absolute;
  top: 25px;
  left: 133px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.social__link--facebook::before {
  content: "";

  position: absolute;
  top: 23px;
  right: 83px;

  width: 10px;
  height: 19px;

  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
