@font-face {
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"),
  url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"),
  url("../fonts/oswaldmedium.woff") format("woff");
}

@import "page-header.less";
@import "main-nav.less";

@import "page-main.less";
@import "description.less";
@import "programs.less";
@import "how-work.less";
@import "example.less";
@import "slider.less";

@import "page-footer.less";
@import "social.less";

@import "main-catalog.less";
@import "product.less";
@import "product-show.less";
@import "button.less";
@import "additional.less";
@import "product-add.less";

@import "form-page.less";
@import "cat.less";
@import "form-programs.less";
@import "owner.less";
@import "comment.less";
@import "additionally.less";

@import "variables.less";
@import "visually-hidden.less";

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #000000;
  background-color: #ffffff;

  background-position: top center;
  background-repeat: no-repeat;

  background: url("../img/substrate/cat-energy-catalo-mobile.jpg")  no-repeat 50% 0;
  background-size: 320px auto;
  outline: 1px solid red;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

@media (min-width: @tablet-width) {
  body {
    background: url("../img/substrate/cat-energy-catalo-tablet.jpg") no-repeat 50% 0;
    background-size: 768px auto;
  }
}
@media (min-width: @desktop-width) {
  body {
    background: url("../img/substrate/cat-energy-catalo-desktop.jpg") no-repeat 50% 0;
    background-size: 1440px auto;
  }
}


